if SHIELD_CREST_DONGLE

config ZMK_KEYBOARD_NAME
    default "Crest"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CREST_LEFT || SHIELD_CREST_RIGHT || SHIELD_CREST_DONGLE

config ZMK_SPLIT
    default y

endif